/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/
// Colors
$blue: #0356a4;
$blue-dark: #0F203E;
$blue-light: #16709A;
$teal: #2ab2b0;
$scooter: #2cbdbe;
$doveGray: #707070;
$tundora: #464646;
$lightGray: #e5e5e5;
$landingGray: #F6F6F6;
$darkGray: #393939;
$white: #fff;
$black: #000;

// Font families
$sans: 'Montserrat', sans-serif;
$serif: 'museo-slab', serif;
$open: 'Open Sans', sans-serif;
$fjalla: 'Fjalla One', sans-serif;
$lato: 'Lato', sans-serif;
$comforta: 'Comfortaa', cursive;