/*
 * Dashboard Grid Component
 *
 * @package F1 Growth10
 * @author Factor1 Studios
 * @since 1.3.0
 */

.dashboard-grid {
  margin-bottom: rem(20);

  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: rem(30);

    > div:first-of-type {
      flex: 1 0 72%;
      margin-right: rem(10);
    }

    h4 {
      display: inline-block;
      margin-right: rem(20);
      color: $tundora;
    }

    a {
      color: $teal;
      text-transform: uppercase;

      &:hover {
        color: $blue;
      }
    }
  }

  &__levels {
    position: relative;
    display: flex;
    width: rem(130);
    margin-bottom: rem(8);

    > div {
      flex: 0 1 25%;
    }

    span {
      position: absolute;
      top: 80%;
      left: 0;
      width: 100%;
      font-size: rem(14);
      color: $blue;

      &.intermediate,
      &.advanced {
        text-align: center;
      }

      &.expert {
        text-align: right;
      }
    }
  }

  &__main {
    position: relative;
    left: rem(-12);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: calc(100% + 24px);

    > div {
      flex: 1 1 48%;
      margin: rem(12);
    }
  }
}
