/*------------------------------------------------------------------------------
  Menu Icon
------------------------------------------------------------------------------*/
.menu-icon {
  // display: none;
  padding: rem(20) rem(10);
  background: transparent;
  -webkit-appearance: none;
  outline: none;
  border: none;

  small {
    position: relative;
    top: rem(6);
    margin-right: rem(10);
    font: 400 rem(18)/1 $sans;
    color: $white;
    transition: all .4s ease;
  }

  span {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: rem(-8);
      left: 0;
    }

    &:after {
      content: '';
      position: absolute;
      top: rem(8);
      left: 0;
    }
  }

  span,
  span:before,
  span:after {
    display: inline-block;
    width: rem(30);
    height: rem(3);
    background-color: $white;
    transform-origin: -4% center;
    transition: all .4s ease;
  }

  &:active,
  &:focus,
  &:hover {
    small {
      color: $teal;
    }

    span,
    span:before,
    span:after {
      background-color: $teal;
    }
  }

  &--blue {
    span,
    span:before,
    span:after {
      background-color: $blue;
    }
  }

  // Active styles
  &.active span {
    background-color: transparent;

    &:before {
      top: rem(-11);
      left: rem(5);
      transform: rotate(45deg);
    }

    &:after {
      top: rem(11);
      left: rem(5);
      transform: rotate(-45deg);
    }
  }

  &--lesson {
    display: flex;
    align-items: center;
    width: 100%;
    font: inherit;
    color: $blue;

    span {
      margin-right: rem(15);
    }

    span,
    span:before,
    span:after {
      background-color: $blue;
    }
  }
}

// Media Queries
@media screen and (min-width: rem(1025)) {
  .menu-icon.lg-hide {
    display: none;
  }
}
