/*
 * Dashboard Tabbed Content (G10 Scale and Newest)
 *
 * Template part used on the dashboard template
 *
 * @package F1 Growth10
 * @author Factor1 Studios
 * @since 1.3.0
 */

.dashboard-content {
  display: none;
  padding-top: rem(20);
  padding-bottom: rem(30);

  &.active {
    display: block;
  }

  .assessment {
    display: flex;
    align-items: flex-start;

    &__icon {
      flex: 0 1 rem(300);
      margin-right: rem(20);

      div {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        border-radius: 50%;
        background-color: $teal;
      }

      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 40%;
        margin: auto;
      }
    }

    &__content {
      flex: 0 1 auto;
    }
  }

  img.alignnone {
    margin: 0;
  }
}
