/*
 * Weekly Message
 *
 * Template part used on the dashboard template
 *
 * @package F1 Growth10
 * @author Factor1 Studios
 * @since 1.3.0
 */

.weekly-message {
  margin-bottom: rem(40);
  
  .responsive-media {
    margin-top: rem(20);
  }
}
