/*
 * 3-Column Video Hero Section (home)
 *
 * Template part used on the home template
 *
 * @package F1 Growth10
 * @author Factor1 Studios
 * @since 0.0.1
 */
    
section.call-to-action{
    padding-top: 50px;
    p {
        text-align: left;
        //font-size: rem(19);
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
    
    
    .gform_wrapper form .gfield {
	    flex-basis: 45%;
	    margin-right: 5px;
	    position: relative;
	    
	    label {color: #fff;}
	    
	    input {
		    background: #fff; 
		    width: 75%;}
    }
    
    .gform_wrapper form .gfield#field_5_2 {
	    top: -6px;
    }
    
    .gform_button.button {
	    background: $blue;
	    border-color: $blue;
	    color: #fff;
	    display: block;
	    margin: -20px auto 0;
	    
	    &:hover {border-color: $teal;}
    }
}


// Media Queries
@media screen and (max-width: $small-breakpoint) {
	section.call-to-action{
		.gform_wrapper form .gfield {
	    flex-basis: 100%;
	    }
    }
}