/*
 * 3-Column Section (home)
 *
 * Template part used on the home template
 *
 * @package F1 Growth10
 * @author Factor1 Studios
 * @since 0.0.1
 */

.three-column-section {
  @include iPhoneX;

  .container {
    padding: rem(0) 0 0;
    margin: 40px 0 26px 0;
  }

  .centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    margin: 0 0 rem(50);
    font-size: rem(45);
    font-family: $sans;
    text-transform: capitalize;
  }

  .col-4 {
    margin-bottom: rem(10);
  }

  h3 {
    margin: 0 0 rem(10);
    font-weight: 400;
    font-family: $sans;
  }

  p {
	  font-size: rem(18);
  }

  .container--align-items-end {
    justify-self: flex-end;
    align-self: flex-end;
  }
}

// Media Queries
@media screen and (max-width: $small-breakpoint) {
  .three-column-section {
    .container {
	    margin: 20px 0;
      padding: rem(0) 0 0;
    }

    h2 {
      margin: 0 0 rem(20);
      font-size: rem(32);
    }

    h3 {
      font-size: rem(28);
    }
  }
}
