/*
 * Card Banner (Global)
 *
 * Template part used on the home template
 *
 * @package F1 Growth10
 * @author Factor1 Studios
 * @since 1.4.0
 */

.card-banner {
  @include iPhoneX;

  .container {
    padding: rem(50) 0;
  }

  &__headline {
    font-size: rem(60);
    color: $white;
  }

  &__card {
    margin-top: rem(40);
    margin-bottom: rem(40);
    padding: rem(40);
    background-color: $white;
    box-shadow: 0 0 rem(10) rgba(0, 0, 0, 1);
  }

  &__buttons {
    margin-top: rem(20);
    margin-bottom: rem(20);
  }
}

// Media Queries 
@media screen and (max-width: $small-breakpoint) {
  .card-banner__headline {
    font-size: rem(32);
  }
}