/**
 * Four column content 
 *
 * Template part used on the various templates/views
 *
 */

.four-column-content {
  @include iPhoneX;

  .container {
    padding: rem(80) 0;
  }

  &__title {
    h3 {
      font-family: $serif;
      text-transform: unset;
      color: $black;
      margin-bottom: rem(10);
    }
    h4 {
      font-family: $comforta;
      color: $blue;
      margin-bottom: rem(20);
    }
  }

  &__content-row {
    .content-card {
      margin-bottom: rem(30);

      .main-image {
        min-height: rem(250);
      }

      h3 {
        margin: rem(15) 0 rem(20);
        font-family: $comforta;
        text-transform: unset;
        color: $teal;
      }

      .button {
        width: 100%;
      }

    }
  }

  &__social-links {
    padding: rem(20) 0;
    .social-link {
      margin: 0 rem(10);
      display: inline-block;
    }
  }

}
