/**
 * Popular Posts (Index)
 *
 * Template part used on index.php  and other views
 *
 * @package F1 Growth10
 * @author Factor1 Studios
 * @since 0.1.0
 */

.popular-posts {
  @include iPhoneX;

  .container {
    padding: rem(40) 0 0;
  }

  h3 + p {
    margin-top: rem(-20);
    text-transform: capitalize;

    img {
      width: rem(25);
      margin-right: rem(5);
    }
  }

  .col-3 {
    margin-bottom: rem(30);
  }

  a {
    text-decoration: none;

    &:hover {
      .img {
        filter: brightness(80%);
      }

      h4 {
        color: $blue;
      }
    }
  }

  h4 {
    margin-bottom: rem(5);
    transition: all .4s ease;
  }

  .img {
    position: relative;
    padding-bottom: 60%;
    margin-bottom: rem(15);
    transition: all .4s ease;

    &.has-featured:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba($tundora, 0.2);
      background: linear-gradient(to top, rgba($tundora, 0.6), rgba($tundora, 0) 35%);
    }
  }

  .formats {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: rem(10);
    z-index: 1;

    i {
      color: $white;
    }
  }
}

// Media Queries
@media screen and (max-width: $small-breakpoint) {
  .popular-posts {
    .row {
      justify-content: center;
    }

    .col-3 {
      flex-grow: 1;
      min-width: rem(250);
      max-width: 80%;
    }
  }
}
