/*
 * 60/40 Text/Image Split (home)
 *
 * Template part used on the home template
 *
 */

.sixty-text-image-split {
  @include iPhoneX;

  .container {
    padding: 0;
  }

  &.extra-padding .container {
    padding: rem(80) 0;
  }

  &__img {
    min-height: rem(400);

    div {
      height: 100%;
    }
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: rem(600);

    .content-container {
      padding: rem(80) 0;
      max-width: rem(600);
      text-align: center;
    }

    .gform_wrapper input {
      background-color: $white;
      border: none;
      height: rem(60);
    }

    .gform_wrapper {
      .top_label .gfield_label {
        font: 400 rem(30)/1.38 $fjalla;
        color: $white;
      }
      .gform_footer {
        text-align: center;
        input.button {
          @include button($white, transparent, $white, $white, $blue-dark);
          border-radius: 0;
          font: 400 rem(24)/1 $fjalla;
          padding: rem(15) rem(20);
          width: 100% !important;
          max-width: rem(370);
        }
      }
    }

    .gform_confirmation_message {
      color: $white !important;
      font-size: rem(25) !important;
    }


  }
}

// Media Queries
@media screen and (max-width: $small-breakpoint) {
  .sixty-text-image-split {
    .container {
      padding: 0;
    }

    &__img {
      min-height: 0;

      div {
        height: 0;
      }
    }
    
    &__text {
      .content-container {
        padding: 0 rem(20);
      }
    
      .gform_wrapper .gform_footer input.button {
        line-height: 1.2 !important;
      }
    }
  }

}